/* CSS Styles */
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#submit_buttons:hover {
    cursor:pointer;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
}

#logo {
    margin-top: 150px;
}

#submit_buttons {
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    height: 36px;
    line-height: 27px;
}

form { 
    display: inline-block;
}

#search_bar_container {
    margin-bottom: 18px;
    margin-top: 18px;
}

#my_search_bar {
    width: 584px;
    height: 44px;
    border: 1px solid lightgrey;
    display: flex;
    z-index: 300;
    box-sizing: border-box;
    border-radius: 2px;
    padding-right: 1em;
    padding-left: 1rem;
    margin-bottom: 2rem;
    font-size: 16px;
    box-shadow: 0px 3px 10px -5px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size: small;
    line-height: 27px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    line-height: 40px;
    font-size: small;
    background-color: #f2f2f2;
}

li {
    float: left;
}

a {
    display: inline-block;
    padding: 1px;
    margin-left: 10px;
    color: #5f6368;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#sign_in {
    color: white;
}

a.testing {
    text-decoration: none;
}